@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Variables */
:root {
  --clr-theme: #4343fa;
  --clr-theme-dark: #0000ff;
  --clr-theme-light: #bcbcfd;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.container{
  max-width: 600px;
  margin: 0 auto;
}

.btn {
  border: 0;
  padding: 0.5em 1.5em;
  border-radius: 50rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
}

.text-blue{
  color: var(--clr-theme);
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: var(--clr-theme);
}
.navbar .links {
  margin-left: auto;
  font-weight: 600;
}
.navbar a {
  margin-left: 1em;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--clr-theme);
}
.content {

  margin: 3em auto;
  padding: 20px;
}

/* Filter */
.filter{
  margin: 1em 0;
}

.filter-visible-btn{
  margin-left: 0.75em;
  padding: 0.25em 0.5em;
  font-weight: 700;
  background-color: #fafafa;
}

.filter-visible-btn:hover{
  background-color: var(--clr-theme-light);
}

.filter-form input {
  margin-left: 2em;
}

.filter-btn{
  background-color: var(--clr-theme);
  color: white;
  margin-left: 2em;
}


/* blog previews / list */
.blog-preview {
  padding: 0.5em 1em;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  cursor: pointer;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h3 {
  font-size: 1.5rem;
  color: var(--clr-theme);
  margin-bottom: 8px;
}

.blog-preview h3 .blog-new-batch {
  /* display: block; */
  margin-left: 0.5em;
  color: var(--clr-theme-dark);
}


.blog-preview a {
  text-decoration: none;
}

/* Blog details */

.blog-title {
  font-size: 2rem;
  color: var(--clr-theme);
  margin-bottom: 0.5em;
}

.blog-author, .blog-date {
  margin: 0.75em 0;
  font-style: italic;
}

.blog-body {
  margin: 1em 0;
}

.blog-btn-delete{
  background-color: #ff5555;
  color: white;
  font-weight: 600;
  display: block;
  margin: 0px auto;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  color: var(--clr-theme);
}
.create h2 {
  font-size: 20px;
  color: var(--clr-theme);
  margin-bottom: 2.5em;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create .create-btn {
  background: var(--clr-theme);
  color: #fff;
}

/* Not found page */
.not-found h2{
  font-size: 2.5rem;
  margin-bottom: 1em;
  color: var(--clr-theme);
}

.not-found p {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.not-found a {
  text-decoration: none;
  color: var(--clr-theme);
}

/* Footer */

.footer{
  border-top: 1px solid #f2f2f2;
  padding: 2em;
  /* text-align: center; */
}

.footer a {
  color: var(--clr-theme);
}

.footer .footer-list{
  /* list-style-type: none; */
  margin-top: 0.75em;
  text-align: left;
}
